<h1 class="text-4xl font-bold text-gray-800 my-8 mx-6 pb-3 border-b-2 border-gray-200 shadow-sm px-4 py-3 bg-white rounded-lg">
  Articles
</h1>

<p class="text-center text-gray-700 text-lg mb-4">
    Our blog has <span class="font-semibold text-blue-500"><%= Article.public_count %></span> articles and counting!
  </p>


<div class="max-w-4xl mx-6 bg-white rounded-lg shadow-sm p-6 mb-8">
 <ul class="divide-y divide-gray-200 w-screen">
   <% @articles.each do |article| %>
     <% unless article.archived? %>
       <li class="py-4 hover:bg-gray-50 transition duration-150 rounded">
         <%= link_to article.title, article, class: "text-xl text-gray-800 hover:text-blue-600 font-medium block" %>
       </li>
     <% end %>
   <% end %>
 </ul>

 <%= link_to "New Article", 
     new_article_path, 
     class: "inline-block mt-6 px-4 py-2 bg-blue-600 text-white font-medium rounded-lg hover:bg-blue-700 transition duration-150 shadow-sm" %>
</div>